<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login__cliente/login_cliente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <div class="form-container">
            <div class="input-group">
                <label for="email-phone">E-mail ou telefone</label>
                <div class="input-wrapper">
                    <i class="fa fa-user"></i>
                    <input type="text" id="email" placeholder="Digite seu e-mail ou telefone">
                </div>
            </div>
            <div class="input-group">
                <label for="senha">Senha</label>
                <div class="input-wrapper">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="password" placeholder="Digite sua senha">
                </div>
            </div>
            <button type="submit" class="btn">Entrar</button>
            
            <hr class="divider">
            <div class="footer-text">
                Não tem uma conta? <a href="../Cadastro_cliente/Cadastro_cliente.html">Cadastre-se</a>
            </div>
            <div class="terms-text">
                Ao acessar você concorda com o <a href="#">termo de uso</a>
            </div>
        </div>
    </div>

    <script src="/login__cliente/logC.js"></script>
</body>
</html>